.blog__posts__card__stat__card {
  width: max-content;
  display: flex;
  text-align: center;
  align-items: center;
}

.blog__posts__card__stat__card:not(:last-child) {
  margin-right: 30px;
}

.blog__posts__card__stat__card img {
  margin-right: 18px;
}

.blog__posts__card__stat__card p {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
