.header {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.header__logo {
  padding: 26px 0;
  margin-right: 77px;
}

.header__menu {
  display: flex;
}

.header__menu ul {
  display: flex;
  list-style: none;
}

.header__menu ul li {
  padding: 36px 0;
}

.header__menu ul li:not(:last-child) {
  margin-right: 38px;
}

.header__menu ul li a {
  color: $black;
}
