a {
  text-decoration: none;
  color: $black;
}

ul {
  display: flex;
}

.header__logo {
  padding-top: 26px;
}

.header__menu {
  width: 525px;
}

.header__menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header__menu ul li:not(:last-child) {
}
